# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio / Rider
/[Ee]xported[Oo]bj/
/[Aa]ssets/Plugins/Editor/
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.mdb
/*.opendb
/*.VC.db

# macOS
.DS_Store

# Unity Package Manager
/[Pp]ackages/manifest.json
/[Pp]ackages/packages-lock.json

*.zip
*.rar
*.7z
*.unitypackage
