# ──────────────────────────────
# Unity
# ──────────────────────────────
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

/[Pp]ackages/packages-lock.json
/Library/PackageCache/
/Library/PackageManager-State/

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.vscode/
*.vs/
/ExportedObj/
/.consulo/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbnails

# Windows
Thumbs.db
Desktop.ini

# Builds
*.apk
*.aab
*.unitypackage
*.app
*.exe

# Crashlytics
crashlytics
crashlytics-data
crashlytics-build

# Others
*.manifest
*.asset
*.unity
*.prefab
*.mat
*.meta
*.anim
*.controller
*.overrideController
*.physicMaterial
*.physicsMaterial2D
*.prefab
*.preset
*.renderTexture
*.shader
*.mask
*.brush
*.flare
*.cginc
*.compute

!/SlotMachineGame/Assets/**/*.meta
!/SlotMachineGame/ProjectSettings/**/*.meta
!/MemoryCardGame/Assets/**/*.meta
!/MemoryCardGame/ProjectSettings/**/*.meta.plastic/
.plastic*
Packages/packages-lock.json
